@model IEnumerable<RandevuModel>
@{
	ViewData["Title"] = "Çalışan Paneli";
}
<h2>@ViewData["Title"]</h2>

@if (TempData["Message"] != null)
{
	<div class="alert alert-info">
		@TempData["Message"]
	</div>
}

<div class="container mt-5">
	<div class="d-flex gap-3">
		<div class="mb-3">
			<a href="@Url.Action("IslemEkle", "Calisan")" class="btn btn-warning">
				Çalışan İşlem Ekle
			</a>
		</div>
	</div>
	<h3 class="text-center mb-4">Randevular</h3>
	@if (Model != null && Model.Any())
	{
		<div class="row">
			@foreach (var randevu in Model)
			{
				<div class="col-md-4 mb-4">
					<div class="card border-3
									 @(randevu.Durum == RandevuModel.RandevuDurum.Onaylanmis ? "border-success" : "")
									 @(randevu.Durum == RandevuModel.RandevuDurum.Reddedilmis ? "border-danger" : "")
									 @(randevu.Durum == RandevuModel.RandevuDurum.OnayBekliyor ? "border-info" : "")">
						<div class="card-header">
							<h5 class="card-title">Randevu ID: @randevu.Id</h5>
						</div>
						<div class="card-body">
							<p><strong>İstem Tarihi:</strong> @randevu.IstemTarihi?.ToString("yyyy-MM-dd HH:mm")</p>
							<p><strong>Başlangıç Tarihi:</strong> @randevu.BaslangicTarihi?.ToString("yyyy-MM-dd HH:mm")</p>
							<p><strong>Bitiş Tarihi:</strong> @randevu.BitisTarihi?.ToString("yyyy-MM-dd HH:mm")</p>

							@if (randevu.Islem != null)
							{
								<p><strong>İşlem:</strong> @randevu.Islem.Baslik</p>
							}
							else
							{
								<p><strong>İşlem:</strong> N/A</p>
							}

							@if (randevu.Musteri != null)
							{
								<p><strong>Müşteri:</strong> @randevu.Musteri.Kullanici.Isim @randevu.Musteri.Kullanici.Soyisim</p>
							}
							else
							{
								<p><strong>Müşteri:</strong> N/A</p>
							}

							@if (randevu.Durum == RandevuModel.RandevuDurum.Onaylanmis)
							{
								<p><strong class="alert-success">Durum:</strong> Onaylandı.</p>
							}
							else if (randevu.Durum == RandevuModel.RandevuDurum.OnayBekliyor)
							{
								<p><strong class="alert-warning">Durum:</strong> Onay Bekliyor...</p>
							}
							else if (randevu.Durum == RandevuModel.RandevuDurum.Reddedilmis)
							{
								<p><strong class="alert-danger">Durum:</strong> Reddedildi.</p>
							}

							<!-- Onayla ve Reddet Butonları -->
							@if (randevu.Durum == RandevuModel.RandevuDurum.OnayBekliyor)
							{
								<form asp-action="OnaylaReddet" method="post">
									@Html.AntiForgeryToken()
									<input type="hidden" name="randevuId" value="@randevu.Id" />
									<div class="d-flex justify-content-between">
										<button type="submit" name="deger" value="onay" class="btn btn-success btn-sm">Onayla</button>
										<button type="submit" name="deger" value="ret" class="btn btn-danger btn-sm">Reddet</button>
									</div>
								</form>
							}
						</div>
					</div>
				</div>
			}
		</div>
	}
	else
	{
		<p>Randevu bulunamadı.</p>
	}
</div>
