@model IEnumerable<RandevuModel>
@{
    ViewData["Title"] = "Çalışan Paneli";
}
<h2>@ViewData["Title"]</h2>

<div class="container mt-5">
    <div class="d-flex gap-3">
        <div class="mb-3">
            <a href="@Url.Action("IslemEkle", "Calisan")" class="btn btn-warning">
                Çalışan İşlem Ekle
            </a>
        </div>
    </div>
    <h3 class="text-center mb-4">Randevular</h3>
    <div class="row">
        @foreach (var randevu in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0">@randevu.Id</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Yer:</strong> @randevu.IstemTarihi.ToString()</p>
                        <p class="card-text"><strong>Tarih:</strong> @randevu.BaslangicTarihi.ToString()</p>
                        <p class="card-text"><strong>Tarih:</strong> @randevu.BitisTarihi.ToString()</p>
                        <p class="card-text"><strong>Saat:</strong> @randevu.Islem.Uzunluk.ToString(@"hh\:mm")</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
