@{
    ViewData["Title"] = "Çalışanlar";
}
@model IEnumerable<CalisanModel>

<h2>@ViewData["Title"]</h2>

<a href="Calisan/CalisanEkle">Çalışan Ekle</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>Doğum Tarihi</th>
            <th>Telefon</th>
            <th>Cinsiyet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var calisan in Model)
        {
            <tr>
                <td>@calisan.Id</td>
                <td>@calisan.Isim</td>
                <td>@calisan.Soyisim</td>
                <td>@calisan.DogumTarihi.ToString("yyyy-MM-dd")</td>
                <td>@calisan.Telefon</td>
                <td>@calisan.Cinsiyet</td>
            </tr>
        }
    </tbody>
</table>
