@{
    ViewData["Title"] = "Randevular";
}
@model IEnumerable<RandevuModel>

<h2>@ViewData["Title"]</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Çalışan İsim Soyisim</th>
            <th>Müşteri İsim Soyisim</th>
            <th>Başlangıç Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>@randevu.Id</td>
                <td>@randevu.Calisan.Isim @randevu.Calisan.Soyisim</td>
                <td>@randevu.Musteri.Isim @randevu.Musteri.Soyisim</td>
                <td>@randevu.BaslangicTarihi.ToString("yyyy-MM-dd")</td>
                <td>@randevu.BitisTarihi.ToString("yyyy-MM-dd")</td>
                <td>@randevu.Islem.Baslik</td>
            </tr>
        }
    </tbody>
</table>
